<div id="content" class="container" style="padding-bottom:70px;">
	<div infinite-scroll="loadMore()" infinite-scroll-immediate-check="false" infinite-scroll-disabled="loadingFlag">
		<table class="table table-striped table-hover fontSize12">
			<thead>
				<tr>
					<th>#</th>
					<th>Address</th>
					<th>Balance</th>
					<th>Importance</th>
					<th>Last Timestamp</th>
					<th>Info</th>
				</tr>
			</thead>
			<tbody class="well well-large">
				<tr ng-repeat="account in accountList">
					<td width="40" ng-bind=$index+1></td>
					<td width="340"><a href="#s_account?account={{account.address}}" target="_blank"><span ng-bind="account.address"></span></a></td>
					<td width="110" ng-bind="account.balance"></td>
					<td width="80" ng-bind="account.importance"></td>
					<td width="130" ng-bind="account.timeStamp"></td>
					<td ng-bind="account.remark"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="text-center" ng-if="loadingFlag"><img src="views/images/loading.gif"/></div>
	<div class="text-center" ng-if="endFlag">This is the end</div>
</div>