<div id="content" class="container" style="padding-bottom:70px;">
	<table class="table table-striped table-hover fontSize12" id="blockTable">
		<thead>
			<tr>
				<th>Block Height</th>
				<th>Harvester</th>
				<th>Txes</th>
				<th>Fee</th>
				<th>Timestamp</th>
				<th>Age</th>
			</tr>
		</thead>
		<tbody class="well well-large">
			<tr ng-repeat="block in blockList" style="cursor:pointer;" ng-click="showBlockTxes(block.txes, $index, $event)" data-toggle="popover" title="click to view the transactions in block" ng-class="{success:selectedBlockHeight && selectedBlockHeight==block.height, fadeIn:fadeFlag}">
				<td><a href="#s_block?height={{block.height}}" target="_blank"><span class="noDetail" ng-bind="block.height"></span></a></td>
				<td><a href="#s_account?account={{block.harvester}}" target="_blank"><span ng-bind="block.harvester"></span></a></td>
				<td ng-bind="block.txAmount"></td>
				<td ng-bind="block.txFee"></td>
				<td ng-bind="block.timeStamp"></td>
				<td ng-bind="block.age"></td>
			</tr>
		</tbody>
	</table>
	<ul class="pager" style="margin-top:-16px;">
		<li class="previous" ng-class="{disabled:page<=1}" ng-click="previousPage();"><a href="javascript:void(0);">&larr; previous</a></li>
		<li class="next active"><a href="javascript:void(0);" ng-click="nextPage();">next &rarr;</a></li>
	</ul>
	<table class="table table-striped table-hover table-condensed fontSize12" ng-class="{hidden:!showBlockTxesFlag}" style="margin-top:-16px;">
		<thead>
			<tr>
				<th colspan="6" class="text-center">
					Txes In Block <span ng-bind="selectedBlockHeight"></span>
				</th>
			</tr>
			<tr>
				<td>#</td>
				<td>Sender</td>
				<td>Recipient</td>
				<td>Amount / Fee</td>
				<td>Timestamp</td>
			</tr>
		</thead>
		<tbody class="well well-large">
			<tr ng-repeat="tx in txList" style="cursor:pointer;" ng-click="showTx(tx.height, tx.hash, $event)" ng-class="{success:selectedTXHash==tx.hash}">
				<td ng-bind="$index+1"></td>
				<td><a href="#s_account?account={{tx.sender}}" target="_blank"><span class="noDetail" ng-bind="tx.sender"></span></a></td>
				<td><a href="#s_account?account={{tx.recipient}}" target="_blank"><span class="noDetail" ng-bind="tx.recipient"></span></a></td>
				<td>
					<span ng-bind="tx.amount"></span> / 
					<span ng-bind="tx.fee"></span>
				</td>
				<td ng-bind="tx.time"></td>
			</tr>
		</tdoby>
	</table>
	<div class="modal fade" id="txDetail" tabindex="-1" role="dialog">
		<div class="modal-dialog" style="width:900px;">
	    	<div class="modal-content">
	        	<div class="modal-header">
	            	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	            	<h5 class="modal-title"><b>Transaction Detail</b></h5>
		         </div>
		         <div class="modal-body">
		         	<table class="fontSize12">
		         		<tr style="line-height:26px;">
							<td style="width:140px;">
								Hash&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							</td>
							<td style="width:720px;"">
								<a href="#/s_tx?hash={{txHash}}" target="_blank">
									<span ng-bind="txHash"></span>
								</a>
							</td>
						</tr>
		         		<tr ng-repeat="item in items" style="line-height:26px;">
							<td style="width:140px;"><span ng-bind="item.label"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td ng-bind="item.content" style="width:720px; word-break: break-word;"></td>
						</tr>
					</table>
		         </div>
			</div>
		</div>
	</div>
</div>