<div id="content" class="container" style="padding-bottom:70px;">
	<table class="table table-striped table-hover"">
		<thead>
			<tr>
				<th>#</th>
				<th>Address</th>
				<th>Importace</th>
				<th>Harvested Blocks</th>
				<th>Harvested Fees</th>
				<th>Last Harvested Block</th>
				<th>Info</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="harvester in harvesterList">
				<td ng-bind="$index+1"></td>
				<td><a href="#s_account?account={{harvester.address}}" target="_blank"><span ng-bind="harvester.address"></span></a></td>
				<td ng-bind="harvester.importance"></td>
				<td ng-bind="harvester.blocks"></td>
				<td ng-bind="harvester.fees"></td>
				<td ng-bind="harvester.lastBlock"></td>
				<td ng-bind="harvester.remark" width="30%"></td>
			</tr>
		</tbody>
	</table>
	<button type="button" class="btn btn-default btn-sm btn-block" ng-class="{hidden:hideMore, disabled:loadingMore}" ng-click="loadMore()">Load more</button>
</div>