<div id="content" class="container" style="padding-bottom:70px;">
	<h4 class="pull-left" style="padding-left:10px;"><a href="http://supernodes.nem.io" target="_blank"> >> supernodes.nem.io << </a></h4>
	<div class="form-group pull-right" style="width:140px;">
    	<label class="checkbox">
			<input type="checkbox" ng-model="justSupernode" value="1"> Only Supernodes
		</label>
  	</div>
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>#</th>
				<th>Host</th>
				<th>Node Name</th>
				<th>Version</th>
				<th>Supernode</th>
			</tr>
		</thead>
		<tbody class="well well-large">
			<tr ng-repeat="node in nodeList" ng-class="{hidden:justSupernode==1&&node.superNodeID==null}">
				<td ng-bind="$index+1"></td>
				<td>
					<a href="http://supernodes.nem.io/details/{{node.superNodeID}}" 
						target="_blank" style="cursor:pointer;" ng-class="{hidden:node.superNodeID==null}" ng-bind="node.host"></a>
					<span ng-class="{hidden:node.superNodeID!=null}" ng-bind="node.host"></span>
				</td>
				<td>
					<a href="http://supernodes.nem.io/details/{{node.superNodeID}}" 
						target="_blank" style="cursor:pointer;" ng-class="{hidden:node.superNodeID==null}"><span ng-bind-html="node.name | to_trusted"></span></a>
					<span ng-class="{hidden:node.superNodeID!=null}"><span ng-bind-html="node.name | to_trusted"></span></span>
				</td>
				<td ng-bind="node.version"></td>
				<td><img src='views/images/yes.png' ng-class="{hidden:node.superNodeID==null}" width="20" height="20"/></td>
			</tr>
		</tbody>
	</table>
</div>