<div id="content" class="container fontSize12" style="padding-top:10px;padding-bottom:70px;">
	<h4>Account Detail</h4>
	<table class="table table-striped table-hover well well-large">
		<tr ng-repeat="accountItem in accountItems" style="line-height:26px;">
			<td width="20%"><span ng-bind="accountItem.label"></span></td>
			<td ng-bind-html="accountItem.content | to_trusted"></td>
		</tr>
	</table>
	<ul class="nav nav-tabs" role="tablist" id="optionAccountTab" style="margin-top: 40px;" ng-class="{hidden:!addressExist}">
		<li role="presentation" class="active">
			<a href="#mosaics" role="tab" data-toggle="tab">
				<span style="font-weight: bold;">Owned Mosaics</span>
			</a>
		</li>
		<li role="presentation">
			<a href="#namespaces" role="tab" data-toggle="tab">
				<span style="font-weight: bold;">Owned Namespaces</span>
			</a>
		</li>
		<li role="presentation">
			<a href="#harvest" role="tab" data-toggle="tab">
				<span style="font-weight: bold;">Harvest Info</span>
			</a>
		</li>
	</ul>
	<div class="tab-content" ng-class="{hidden:!addressExist}">
		<div role="tabpanel" class="tab-pane active" id="mosaics">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<td>#</td>
						<td>Mosaic</td>
						<td>Quantity</td>
					</tr>
				</thead>
				<tbody class="well well-large">
					<tr ng-class="{hidden:mosaicList&&mosaicList.length>0}">
						<td colspan="3">Nothing to show</td>
					</tr>
					<tr ng-repeat="m in mosaicList">
						<td ng-bind="$index+1"></td>
						<td ng-bind="m.mosaic"></td>
						<td ng-bind="m.quantity"></td>
					</tr>
				</tboby>
			</table>
		</div>
		<div role="tabpanel" class="tab-pane" id="namespaces">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<td>#</td>
						<td>Namespace</td>
						<td>Height</td>
					</tr>
				</thead>
				<tbody class="well well-large">
					<tr ng-class="{hidden:namespaceList&&namespaceList.length>0}">
						<td colspan="3">Nothing to show</td>
					</tr>
					<tr ng-repeat="ns in namespaceList">
						<td ng-bind="$index+1"></td>
						<td ng-bind="ns.namespace"></td>
						<td ng-bind="ns.height"></td>
					</tr>
				</tboby>
			</table>
		</div>
		<div role="tabpanel" class="tab-pane" id="harvest">
			<table class="table table-striped table-hover well well-large">
				<thead>
					<tr ng-repeat="harvestItem in harvestItems" style="line-height:26px;">
						<td style="width:240px;"><span ng-bind="harvestItem.label"></span></td>
						<td ng-bind-html="harvestItem.content | to_trusted"></td>
					</tr>
				</thead>
			</table>
		</div>
	</div>
	<ul class="nav nav-tabs" role="tablist" id="optionTransactionTab" style="margin-top: 40px;" ng-class="{hidden:!addressExist}">
		<li role="presentation" class="active">
			<a href="#transactions" role="tab" data-toggle="tab">
				<span style="font-weight: bold;">Transactions</span>
			</a>
		</li>
		<li role="presentation">
			<a href="#mosaicTransactions" role="tab" data-toggle="tab">
				<span style="font-weight: bold;">Mosaic Transactions</span>
			</a>
		</li>
	</ul>
	<div class="tab-content" ng-class="{hidden:!addressExist}">
		<div role="tabpanel" class="tab-pane active" id="transactions">
			<div infinite-scroll="loadTransactions()" infinite-scroll-immediate-check="false" infinite-scroll-disabled="loadingFlag">
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<td>#</td>
							<td>Timestamp</td>
							<td>Amount</td>
							<td>Fee</td>
							<td>Sender</td>
							<td>Recipient</td>
						</tr>
					</thead>
					<tbody class="well well-large">
						<tr ng-if="txList.length==0">
							<td colspan="6">Nothing to show</td>
						</tr>
						<tr ng-repeat="tx in txList" style="cursor:pointer;" ng-click="showTx(tx, $event)" ng-class="{success:selectedTXHash==tx.hash}">
							<td ng-bind="$index+1" width="50"></td>
							<td ng-bind="tx.timeStamp" width="160"></td>
							<td>
								<span style="color:green" ng-class="{hidden:tx.flow!=0}" ng-bind="tx.amount"></span>
								<span style="color:red" ng-class="{hidden:tx.flow!=1}" ng-bind="tx.amount"></span>
							</td>
							<td ng-bind="tx.fee" width="80"></td>
							<td width="360"><a href="#s_account?account={{tx.sender}}" target="_blank"><span class="noDetail" ng-bind="tx.sender"></span></a></td>
							<td width="360"><a href="#s_account?account={{tx.recipient}}" target="_blank"><span class="noDetail" ng-bind="tx.recipient"></span></a></td>
						</tr>
					</tboby>
				</table>
			</div>
			<div class="text-center" ng-if="loadingFlag"><img src="views/images/loading.gif"/></div>
		</div>
		<div role="tabpanel" class="tab-pane" id="mosaicTransactions">
			<div infinite-scroll="loadMosaicTransactions()" infinite-scroll-immediate-check="false" infinite-scroll-disabled="loadingMosaicFlag">
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<td>#</td>
							<td>Timestamp</td>
							<td>Mosaic</td>
							<td>Quantity</td>
							<td>Sender</td>
							<td>Recipient</td>
						</tr>
					</thead>
					<tbody class="well well-large">
						<tr ng-if="mosaicTXList && mosaicTXList.length==0">
							<td colspan="6">Nothing to show</td>
						</tr>
						<tr ng-repeat="tx in mosaicTXList" style="cursor:pointer;" ng-click="showMosaicTx(tx, $event)" ng-class="{success:selectedMosaicTXNO==tx.no}">
							<td ng-bind="$index+1" width="42"></td>
							<td ng-bind="tx.timeStamp" width="130"></td>
							<td>
								<span ng-bind="tx.mosaicName"></span>
							</td>
							<td width="110">
								<span style="color:green" ng-class="{hidden:tx.flow==1}" ng-bind="tx.quantity"></span>
								<span style="color:red" ng-class="{hidden:tx.flow==0}" ng-bind="tx.quantity"></span>
							</td>
							<td width="350"><a href="#s_account?account={{tx.sender}}" target="_blank"><span class="noDetail" ng-bind="tx.sender"></span></a></td>
							<td width="350"><a href="#s_account?account={{tx.recipient}}" target="_blank"><span class="noDetail" ng-bind="tx.recipient"></span></a></td>
						</tr>
					</tboby>
				</table>
			</div>
			<div class="text-center" ng-if="loadingMosaicFlag"><img src="views/images/loading.gif"/></div>
		</div>
	</div>
	<div class="modal fade" id="txDetail" tabindex="-1" role="dialog">
		<div class="modal-dialog" style="width:900px;">
	    	<div class="modal-content">
	        	<div class="modal-header">
	            	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	            	<h5 class="modal-title"><b>Transaction Detail</b></h5>
		         </div>
		         <div class="modal-body">
		         	<table>
		         		<tr style="line-height:26px;">
							<td style="width:140px;">
								Hash&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							</td>
							<td style="width:720px;"">
								<a href="#/s_tx?hash={{txHash}}" target="_blank">
									<span ng-bind="txHash"></span>
								</a>
							</td>
						</tr>
		         		<tr ng-repeat="item in items" style="line-height:26px;">
							<td style="width:140px;"><span ng-bind="item.label"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td ng-bind="item.content" style="width:720px; word-break: break-word;"></td>
						</tr>
					</table>
		         </div>
			</div>
		</div>
	</div>
</div>