<div id="content" class="container" style="padding-bottom:70px;">
	<div class="alert alert-success margin-top-20">
		The NEM network has been designed from the very beginning with the goal in mind that any light wallet can securely connect to and use any server safely to make transactions. These awards are given to harvesters running high performance nodes for helping to secure the network. <a href="https://forum.nem.io/t/nem-supernode-rewards-program/1735" target="_blank">Read more</a>
	</div>
	<div class="form-group pull-right" style="width:180px;">
    	<select class="form-control" ng-model="select" ng-options="option.key for option in selectOptions" ng-change="changeSelectOption()"></select>
  	</div>
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>#</th>
				<th>Timestamp</th>
				<th>Round</th>
				<th>Supernode Name</th>
				<th>Sender / Recipent</th>
				<th>Amount</th>
			</tr>
		</thead>
		<tbody class="well well-large">
			<tr ng-repeat="payout in payoutList">
				<td ng-bind="$index+1"></td>
				<td ng-bind="payout.timeStamp"></td>
				<td ng-bind="payout.round"></td>
				<td ng-bind-html="payout.supernodeName|to_trusted"></td>
				<td ng-bind-html="payout.senderAndRecipient|to_trusted"></td>
				<td ng-bind="payout.amount"></td>
			</tr>
		</tbody>
	</table>
</div>