<div id="content" class="container fontSize12" style="padding-bottom:70px;">
	<div class="alert alert-success margin-top-20">
		The NEM network has been designed from the very beginning with the goal in mind that any light wallet can securely connect to and use any server safely to make transactions. These awards are given to harvesters running high performance nodes for helping to secure the network. <a href="https://forum.nem.io/t/nem-supernode-rewards-program/1735" target="_blank">Read more</a><br />
		Payout Address: <span ng-bind-html="payoutAddress|to_trusted"></span>
	</div>
	<div class="form-group pull-right" style="width:180px;">
    	<select class="form-control fontSize12" ng-model="select" ng-options="option.key for option in selectOptions" ng-change="changeSelectOption()"></select>
  	</div>
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>#</th>
				<th>Timestamp</th>
				<th>Round</th>
				<th>Supernode Name</th>
				<th>Recipient</th>
				<th>Amount</th>
			</tr>
		</thead>
		<tbody class="well well-large">
			<tr ng-repeat="payout in payoutList">
				<td ng-bind="$index+1"></td>
				<td ng-bind="payout.timeStamp"></td>
				<td ng-bind="payout.round"></td>
				<td ng-bind-html="payout.supernodeName|to_trusted"></td>
				<td ng-bind-html="payout.recipient|to_trusted"></td>
				<td ng-bind="payout.amount"></td>
			</tr>
		</tbody>
	</table>
	<div class="modal fade" id="manageMySupernodes" tabindex="-1" role="dialog">
		<div class="modal-dialog" style="width:800px;">
	    	<div class="modal-content">
	        	<div class="modal-header">
	            	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	            	<div class="modal-title">
	            		<b>Manage My Supernodes</b>
	            		&nbsp;&nbsp;&nbsp;&nbsp;
	            		<a style="cursor: pointer;" ng-click="cleanMySupernodes()">Clean All</a>
	            	</div>
		         </div>
		         <div class="modal-body">
		         	<div>
		         		<span style="font-weight: bold;">Selected: </span>
		         		<span ng-bind-html="selectedSupernodeNamesText|to_trusted"></span>
		         	</div>
		         	<table class="table table-striped table-hover" id="supernodeTable">
	         			<thead>
	         				<tr>
	         					<th>#</th>
	         					<th ng-class="{hidden:1==1}">id</th>
	         					<th>Supernode Name</th>
	         					<th>Recipient</th>
	         				</tr>
	         			</thead>
	         			<tbody class="well well-large">
	         				<tr ng-repeat="supernode in supernodeList" style="cursor: pointer;">
	         					<td ng-bind="$index+1"></td>
	         					<td ng-bind="supernode.id" ng-class="{hidden:1==1}"></td>
	         					<td ng-bind="supernode.name"></td>
	         					<td ng-bind="supernode.payoutAddress"></td>
	         				</tr>
	         			</tbody>
	         		</table>
		         </div>
			</div>
		</div>
	</div>
</div>